<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Gallery</title>
    </head>
    <link rel="stylesheet" href="style3.css">
</header>   
    <body>
        <!-- Header section -->
        <header>
            <div class="logo">Logo Travel Agency</div>
            <nav id="nav-menu">
                <ul>
                    <li><a href="Home.html">Home</a></li>
                    <li><a href="About.html">About</a></li>
                    <li><a href="Services.html">Services</a></li>
                    <li><a href="Gallery.html">Gallery</a></li>
                    <li><a href="Contact.html">Contact</a></li>
                </ul>
            </nav>
            <button class="reachUs-button">Call us</button>
        </header>
    <body>
            <h1>TRAVEL GALLERY</h1>
            <div class="gallery">
             <a href="img1.jpg"><img src="img1.jpg"></a>
             <a href="img2.jpg"> <img src="img2.jpg"></a>
             <a href="img3.jpg"><img src="img3.jpg"></a>
             <a href="img4.jpg"> <img src="img4.jpg"></a>
             <a href="img6.jpg"> <img src="img6.jpg"></a>
             <a href="img7.jpg">  <img src="img7.jpg"></a>
             <a href="img8.jpg">  <img src="img8.jpg"></a>
             <a href="img9.jpg"> <img src="img9.jpg"></a>
             <a href="img10.jpg"><img src="img10.jpg"></a>
             <a href="img11.jpg"> <img src="img11.jpg"></a>
             <a href="img12.jpg"> <img src="img12.jpg"></a>
             <a href="img13.jpg"> <img src="img13.jpg"></a>
             <a href="img14.jpg"><img src="img14.jpg"></a>
             <a href="img15.jpg"><img src="img15.jpg"></a>
             <a href="img16.jpg"><img src="img16.jpg"></a>
             <a href="img17.jpg"><img src="img17.jpg"></a>
             <a href="img18.jpg"><img src="img18.jpg"></a>
             <a href="img19.jpg"><img src="img19.jpg"></a>
             <a href="img20.jpg"><img src="img20.jpg"></a>
             <a href="img20.jpg"><img src="AERO1.jpg."></a>
             <a href="img20.jpg"><img src="AERO2.jpg."></a>
             <a href="img20.jpg"><img src="AERO3.jpg."></a>
            </div>
    </body>
    </html>